<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="top-nav.css">
    <link rel="stylesheet" href="body.css">
    <link rel="stylesheet" href="side-nav.css">
    <link rel="stylesheet" href="side-nav-1.css">
    <link rel="stylesheet" href="side-nav-2.css">
    <link rel="stylesheet" href="side-nav-3.css">
    <link rel="stylesheet" href="side-nav-4.css">
    <link rel="stylesheet" href="side-nav-5.css">

    <link rel="stylesheet" href="post-left.css">
    <link rel="stylesheet" href="post-right.css">
    <link rel="stylesheet" href="post-filter-mobile.css">
    <link rel="stylesheet" href="footer.css">
    <!-- <link rel="stylesheet" href="jobs.css"> -->
    <script defer src="post.js"></script>
    <script defer src="nav.js"></script>
    <title>Recruiter</title>
</head>
<body>
    <div class="overlay" id="overlay"></div>
    <div class="parent" id="parent">
        <div class="r-left">
            <nav class="left-nav">
                <div class="nav-div">
                    <a href="#" class="active" id="close-menu"><i class="fa-solid fa-chevron-left"></i>Collapse</a>
                </div>
                <div class="nav-div-hide">
                    <a href="#" class="active" id="open-menu"><i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </nav>
            
            <div class="left-down">
                <div class="l-box-div">
                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-suitcase"></i> <p>Post or job </p> 
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-suitcase"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-regular fa-id-card"></i> <p>Canditates</p>  
                            </div>
                            <i class="fa-solid fa-caret-right"></i>                         
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-regular fa-id-card"></i>
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-magnifying-glass-location"></i> <p>Open search</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass-location"></i> 
                        </a>
                    </div>
                    

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-building-user"></i> <p>On Boarding</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-building-user"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-user-pen"></i> <p>Admin control</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-user-pen"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-users-gear"></i> <p>empolyee info</p>
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-users-gear"></i> 
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </div>




        <div class="r-right">
            <header class="header">
                <div class="navbar">
                    <nav>
                        <ul class="menu">
                            <div class="logo-div">
                                <li class="logo">
                                    
                                    <a href="#"><img src="p2.png" alt="Placeme Logo" style="height: 30px;"></a>
                                </li>
                                
                                
                                
                                
                            </div>
                            <div class="last-div">
                                <!-- <div class="item">
                                    <li><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-bell"></i>Notifications</a></li>
                                </div> -->
                                <div class="item-div-1">
                                    <li class="item button">
                                        <a href="#" ><i class="fa-solid fa-building"></i>
                                            <div class="nav-company">
                                                <p class="nav-company-text-1">Recruiter Company name</p>
                                                <p class="nav-company-text-2">Placeme private limited</p>
                                            </div>
                                            
                                        </a>
                                        
                                    </li>
                                </div>
                                <div class="item-div">
                                    <li class="item button"><a href="#"><i class="fa-solid fa-bell"></i> 
                                        Notifications</a></li>
                                </div>
                                <div class="item-div">
                                    <li class="item button"><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user"></i> 
                                        Profile</a></li>
                                </div>
                                
                                
                                
                            </div>
                            <div class="item-div-menu" >
                                <li class="item button">
                                    <a>
                                        <div id="mobile-menu-open" style="display: flex;">
                                        <i class="fa-solid fa-user"style="font-size:26px;display: block;"> </i>
                                            <i class="fa-solid fa-angle-down"></i>
                                        </div>

                                        <i class="fa-solid fa-xmark" id="mobile-menu-close"></i>
                                    </a>
                                </li>
                            </div>
                            
                            
                        </ul>
                    </nav>
                </div>
            </header>



            <div class="r-right-down">
                <div class="r-right-menu" id="mobile-menu-box">
                    <div class="box-1-menu">
                        <a href="#">
                            <p>Recruiter Company name</p>
                        </a>
                    </div>
                    <div class="box-2-menu">
                        <a href="#">
                            <!-- <i class="fa-solid fa-bell"></i>  -->
                            <p>Notifications</p></a>
                    </div>
                    <div class="box-3-menu">
                        <a href="#">
                            <!-- <i class="fa-solid fa-user"></i>  -->
                            <p>profile</p>
                        </a>
                    </div>
                </div>
                
<!-- content in django -->
                <div class="r-right-down-main">
                <div class="r-down-main">
                    <div class="list-main">
                        <div class="list-left">
                            
                            <div class="form">
                                <form method="post" action="#">
                                    <div class="filters-div">
                                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                                        <h1>Filters</h1>
                                    </div>
                                    <div class="input-div">
                                       <input type="text" class="input" placeholder="Search by Post Title,Job Id,Recruiter name..."/> 

                                    </div>

                                    <div class="job-status-div">
                                        <div class="job-status-div-text">
                                            <p>Job Status</p>


                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Active Jobs</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>

                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Expired Jobs</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>

                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Closed Jobs</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>2</p>
                                                </div>
                                            </div>
                                        </div>






                                        

                                    </div>




                                    <div class="job-status-div-2">
                                        <div class="job-status-div-text">
                                            <p>Job Posted By</p>

                                        </div>
                                        <div class="input-div-down">
                                            <input type="text" class="input" placeholder="Search by Recruiter name"/> 
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Recruiter name</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>

                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Recruiter name</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>

                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>Recruiter name</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>2</p>
                                                </div>
                                            </div>
                                        </div>






                                        

                                    </div>




                                    <div class="job-status-div-3">
                                        <div class="job-status-div-text">
                                            <p>Job Tittle</p>


                                        </div>
                                        <div class="input-div-down">
                                            <input type="text" class="input" placeholder="Search by job title"/> 
                                        </div>
                                        <div class="checkbox-div">
                                            <div class="checkbox-1">
                                                <div class="checkbox-1-1">
                                                   <input type="checkbox" class="input-check"/>
                                                   <p>App developer</p> 
                                                </div>
                                                <div class="checkbox-1-count">
                                                    <p>1</p>
                                                </div>
                                            </div>

                                            
                                        </div>






                                        

                                    </div>



                                    

                                </form>

                            </div>
                            







                        </div>
                        <div class="list-right">
                            <div class="right-div">
                                <div class="m-right-top">
                                    <button class="text buttons">+ Publish vacancy</button>
                                </div>
                                <div class="right-top">
                                    <div class="right-top-1">
                                        <div class="all-job">
                                            <button class="buttons">All Jobs</button>
                                        </div>
                                        <div class="draft">
                                            <button class="buttons">Draft</button>
                                        </div>
                                    </div>
                                    <div class="role-post-div">

                                        <button class="role-post-text">+ Publish vacancy</button>


                                        <div class="m-filter-div" id="m-filter-div">
                                            <i class="fa-solid fa-arrow-down-wide-short"></i>
                                            <p>Filters</p> 
                                        </div>
                                        
                                    </div>
                                </div>




                                <div class="right-middle">
                                    <div class="select">
                                        <input type="checkbox" class="check"/>
                                        <p>Select All</p>
                                    </div>
                                    <select class="post-date-clicking">>
                                        <option>Posted date: newest</option>
                                        <option>Posted date: oldest</option>
                                        <option>Job title: A - Z</option>
                                        <option>Job title: Z - A</option>
                                    </select>
 
                                </div>




                                <div class="right-box-1">
                                    <div class="right-box-1-content">
                                        <div class="c-box-1">
                                            <div class="support">
                                                <div class="input-text">
                                                    <input type="checkbox" class="check"/>
                                                    <div class="c-1-text">
                                                        <p class="text-1">Support Engineer</p>
                                                        <p class="text-2">Ahmedabad</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Expired">
                                                <p>Expired</p>
                                                <i class="fa-regular fa-clock"></i>
                                            </div>
                                        </div>


                                        <div class="c-box-2">
                                            <div class="num-1">
                                                <p class="num">7</p>
                                                <p class="num-text">Viewed</p>
                                            </div>
                                            <div class="num-2">
                                                <p class="num">7</p>
                                                <p class="num-text">Action</p>
                                            </div>
                                            <div class="num-3">
                                                <p class="num">54</p>
                                                <p class="num-text">Applied</p>
                                            </div>
                                        </div>


                                        <div class="c-box-3">
                                            <div class="Report">
                                                <p>Report</p>
                                                <i class="fa-solid fa-ellipsis-vertical" id="c-3-show"></i>
                                            </div>
                                            <div class="c-3-postion" id="c-3-post">
                                                <div class="c-3-postion-1">
                                                    <a>Preview Post</a>
                                                </div>
                                                <div class="c-3-postion-2">
                                                    <a>Close vacancy</a>
                                                </div>
                                            </div>
                                            <div class="date">
                                                <p>Post By Me:20 Jan 2025</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hightlight">
                                        <p class="one">The job posting has expired would you like to .</p>
                                        <p></p>

                                        <p class="underline two">Repost it </p><p></p>
                                        <p class="three">. or </p><p></p>
                                        <p class="underline four"> . Closed it ?</p>
                                    </div>
                                </div>








                                <div class="right-box-1">
                                    <div class="right-box-1-content">
                                        <div class="c-box-1">
                                            <div class="support">
                                                <div class="input-text">
                                                    <input type="checkbox" class="check"/>
                                                    <div class="c-1-text">
                                                        <p class="text-1">Support Engineer</p>
                                                        <p class="text-2">Ahmedabad</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Expired">
                                                <p>Expired</p>
                                                <i class="fa-regular fa-clock"></i>
                                            </div>
                                        </div>


                                        <div class="c-box-2">
                                            <div class="num-1">
                                                <p class="num">7</p>
                                                <p class="num-text">Viewed</p>
                                            </div>
                                            <div class="num-2">
                                                <p class="num">7</p>
                                                <p class="num-text">Action</p>
                                            </div>
                                            <div class="num-3">
                                                <p class="num">54</p>
                                                <p class="num-text">Applied</p>
                                            </div>
                                        </div>


                                        <div class="c-box-3">
                                            <div class="Report">
                                                <p>Report</p>
                                                <i class="fa-solid fa-ellipsis-vertical" id="c-3-show"></i>
                                            </div>
                                            <div class="c-3-postion" id="c-3-post">
                                                <div class="c-3-postion-1">
                                                    <a>Preview Post</a>
                                                </div>
                                                <div class="c-3-postion-2">
                                                    <a>Close vacancy</a>
                                                </div>
                                            </div>
                                            <div class="date">
                                                <p>Post By Me:20 Jan 2025</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hightlight">
                                        <p class="one">The job posting has expired would you like to .</p>
                                        <p></p>

                                        <p class="underline two">Repost it </p><p></p>
                                        <p class="three">. or </p><p></p>
                                        <p class="underline four"> . Closed it ?</p>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                    </div>



                    
                </div>



                </div>


                <!-- changes1 -->
                <footer class="about">
                    <div class="about-main">
                        <div class="company">
                           <div class="content">
                                <div class="company-text">
                                    <p>Company</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1">  
                                    <a>
                                        About Us
                                    </a>
                                    <a>Terms & condition</a>
                                    <a>Privacy Policy</a>
                                    <a>Affiliate program</a>

                                </div>
                           </div> 
                        </div>
                        <div class="help">
                            <div class="content">
                                <div class="company-text">
                                    <p>Get Help</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1">  
                                    <a>
                                        FAQ
                                    </a>
                                    <a>Terms & condition</a>
                                    <a>Report</a>

                                </div>
                           </div>
                        </div>
                        <div class="shop">
                            <div class="content">
                                <div class="company-text">
                                    <p>Our service</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1">  
                                    <a>Job seeking
                                    </a>
                                    <a>Smart Searching</a>
                                    <a>Hiring Process</a>
                                    <a>Employee payroll</a>

                                </div>
                           </div>
                        </div>
                        <div class="follow">
                            <div class="content">
                                <div class="company-text-last">
                                    <p>Follow us</p>
                                    <div class="bar"></div>
                                </div>
                                <div class="company-text-1-last">  
                                    <a>
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a><i class="fa-brands fa-x-twitter"></i></a>
                                    <a><i class="fa-brands fa-instagram"></i></a>
                                    <a><i class="fa-brands fa-linkedin-in"></i></a>

                                </div>
                           </div>
                            
                        </div>

                    </div>
                    <div class="last-para">
                        <p>&copy 2025 Placenow Private Limited. All right reserved </p>
                    </div>
                </footer>
                <!-- content endding -->
            </div>
                    
        </div>
        
    </div>
    

    <div class="m1-filter-div" id="m1-filter-div">
        <div class="m-list-left">
                            
            <div class="form">
                <form method="post" action="#">
                    <div class="filters-div">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                        <h1>Filters</h1>
                        <div class="x-mark" id="x-mark">
                            <p class="X">X</p>
                        </div>
                    </div>
                    
                    <div class="input-div">
                       <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 

                    </div>

                    <div class="job-status-div">
                        <div class="job-status-div-text">
                            <p>Job Status</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Active Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Expired Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Closed Jobs</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-2">
                        <div class="job-status-div-text">
                            <p>Job Posted By</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>Recruiter name</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>






                        

                    </div>




                    <div class="job-status-div-3">
                        <div class="job-status-div-text">
                            <p>Job Tittle</p>
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                        <div class="input-div-down">
                            <input type="text" class="input" placeholder=" Search Title,Job Id..."/> 
                        </div>
                        <div class="checkbox-div">
                            <div class="checkbox-1">
                                <div class="checkbox-1-1">
                                   <input type="checkbox" class="input-check"/>
                                   <p>App developer</p> 
                                </div>
                                <div class="checkbox-1-count">
                                    <p>1</p>
                                </div>
                            </div>

                            
                        </div>






                        

                    </div>



                    

                </form>

            </div>
            







        </div>

    </div>




    
    
</body>
</html>